In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Ejemplo").master('local[*]').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/04 20:39:26 WARN Utils: Your hostname, ParienteLAP, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/12/04 20:39:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/04 20:39:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
data = [('Alicia', 25), ('Bob', 40), ("Charlie",35)]

In [5]:
columns = ['Name', 'Age']

In [6]:
df = spark.createDataFrame(data, columns)
type(df)

pyspark.sql.classic.dataframe.DataFrame

In [7]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

In [8]:
df.dtypes

[('Name', 'string'), ('Age', 'bigint')]

In [9]:
schema = 'Name: string, Age: int'

In [10]:
df = spark.createDataFrame(data, schema)

In [11]:
df.dtypes

[('Name', 'string'), ('Age', 'int')]

In [12]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [13]:
df.show()

+-------+---+
|   Name|Age|
+-------+---+
| Alicia| 25|
|    Bob| 40|
|Charlie| 35|
+-------+---+

In [14]:
df.take(2)

[Row(Name='Alicia', Age=25), Row(Name='Bob', Age=40)]

In [15]:
df.head()

Row(Name='Alicia', Age=25)

In [16]:
df.tail(2)

[Row(Name='Bob', Age=40), Row(Name='Charlie', Age=35)]

In [17]:
df.describe().show()

[Stage 10:>                                                         (0 + 8) / 8]

+-------+-------+------------------+
|summary|   Name|               Age|
+-------+-------+------------------+
|  count|      3|                 3|
|   mean|   NULL|33.333333333333336|
| stddev|   NULL| 7.637626158259733|
|    min| Alicia|                25|
|    max|Charlie|                40|
+-------+-------+------------------+

In [18]:
df.rdd.getNumPartitions()

8

In [19]:
df.show()

+-------+---+
|   Name|Age|
+-------+---+
| Alicia| 25|
|    Bob| 40|
|Charlie| 35|
+-------+---+

In [20]:
df.Age()

TypeError: 'Column' object is not callable

In [21]:
df.Age

Column<'Age'>

In [22]:
df['Name']

Column<'Name'>

In [23]:
df.Bob

PySparkAttributeError: [ATTRIBUTE_NOT_SUPPORTED] Attribute `Bob` is not supported.

In [24]:
df.select('Name').show()

+-------+
|   Name|
+-------+
| Alicia|
|    Bob|
|Charlie|
+-------+

In [25]:
df.select(df.Age).show()

+---+
|Age|
+---+
| 25|
| 40|
| 35|
+---+

In [26]:
df.select('Age', 'Name').show()

+---+-------+
|Age|   Name|
+---+-------+
| 25| Alicia|
| 40|    Bob|
| 35|Charlie|
+---+-------+

In [27]:
df.select('*').show()

+-------+---+
|   Name|Age|
+-------+---+
| Alicia| 25|
|    Bob| 40|
|Charlie| 35|
+-------+---+

In [28]:
df.select(df.Age).describe().show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|                 3|
|   mean|33.333333333333336|
| stddev| 7.637626158259733|
|    min|                25|
|    max|                40|
+-------+------------------+

In [29]:
df.filter(df.Age > 30).show()

+-------+---+
|   Name|Age|
+-------+---+
|    Bob| 40|
|Charlie| 35|
+-------+---+

In [30]:
df.filter('Age > 30').show()

+-------+---+
|   Name|Age|
+-------+---+
|    Bob| 40|
|Charlie| 35|
+-------+---+

In [31]:
df.where(df['Age'] > 30).show()

+-------+---+
|   Name|Age|
+-------+---+
|    Bob| 40|
|Charlie| 35|
+-------+---+

In [32]:
df = spark.createDataFrame([("Roberto", 15), ("Ana", 6), 
                             ("Roberto", 10), ("Ana", 6), 
                             ("Ana", 15)], 
                            'name:string, age:int')

In [33]:
df.groupBy('name').count().show()

[Stage 40:>                                                         (0 + 8) / 8]

+-------+-----+
|   name|count|
+-------+-----+
|Roberto|    2|
|    Ana|    3|
+-------+-----+

In [34]:
df.groupBy('age').count().show()

[Stage 43:=======>                                                  (1 + 7) / 8]

+---+-----+
|age|count|
+---+-----+
| 15|    2|
|  6|    2|
| 10|    1|
+---+-----+

In [35]:
df.groupBy('name').sum().show()

+-------+--------+
|   name|sum(age)|
+-------+--------+
|Roberto|      25|
|    Ana|      27|
+-------+--------+

In [36]:
df.groupBy(['name', 'age']).count().show()

+-------+---+-----+
|   name|age|count|
+-------+---+-----+
|Roberto| 15|    1|
|    Ana|  6|    2|
|Roberto| 10|    1|
|    Ana| 15|    1|
+-------+---+-----+

In [37]:
df = spark.createDataFrame([("libro1","Hola mundo!, Estamos \ 
                            listos para el lio."),
                            ("libro2","Titulos. \n vamos gente, es hora de \n irnos"),
                            ("libro3","Este es el último libro y es el más normal.")])

In [38]:
df.show()

+------+--------------------+
|    _1|                  _2|
+------+--------------------+
|libro1|Hola mundo!, Esta...|
|libro2|Titulos. \n vamos...|
|libro3|Este es el último...|
+------+--------------------+

In [39]:
df.columns("nombre", "edad")

TypeError: 'list' object is not callable

In [40]:
df.columns("nombre, edad")

TypeError: 'list' object is not callable

In [41]:
df.columns =["nombre", "edad"]

AttributeError: property 'columns' of 'DataFrame' object has no setter

In [42]:
df.withColumnsRenamed({'_1':'nombre', '_2':'contenido'})

DataFrame[nombre: string, contenido: string]

In [43]:
df.show()

+------+--------------------+
|    _1|                  _2|
+------+--------------------+
|libro1|Hola mundo!, Esta...|
|libro2|Titulos. \n vamos...|
|libro3|Este es el último...|
+------+--------------------+

In [44]:
df = df.withColumnsRenamed({'_1':'nombre', '_2':'contenido'})

In [45]:
df.show()

+------+--------------------+
|nombre|           contenido|
+------+--------------------+
|libro1|Hola mundo!, Esta...|
|libro2|Titulos. \n vamos...|
|libro3|Este es el último...|
+------+--------------------+

In [46]:
from pyspark.sql.functions import *

In [47]:
df_filtrado = df.withColumn('contenido', regexp_replace('contenido', '[^a-zA-Z0-9]',''))

SyntaxError: invalid non-printable character U+00A0 (477040284.py, line 1)

In [48]:
df_filtrado = df.withColumn('contenido', regexp_replace('contenido', '[^a-zA-Z0-9]',''))

In [49]:
df_filtrado.show()

+------+--------------------+
|nombre|           contenido|
+------+--------------------+
|libro1|HolamundoEstamosl...|
|libro2|Titulosvamosgente...|
|libro3|Esteeselltimolibr...|
+------+--------------------+

In [50]:
df_filtrado = df.withColumn('contenido', regexp_replace('contenido', '[^a-zA-Z0-9-\\s]',''))

In [51]:
df_filtrado.show()

+------+--------------------+
|nombre|           contenido|
+------+--------------------+
|libro1|Hola mundo Estamo...|
|libro2|Titulos  vamos ge...|
|libro3|Este es el ltimo ...|
+------+--------------------+

In [52]:
df.show()

+------+--------------------+
|nombre|           contenido|
+------+--------------------+
|libro1|Hola mundo!, Esta...|
|libro2|Titulos. \n vamos...|
|libro3|Este es el último...|
+------+--------------------+

In [53]:
df_filtrado = df_filtrado.withColumn('contenido', lower(df_filtrado.contenido))

In [54]:
df_filtrado.show()

+------+--------------------+
|nombre|           contenido|
+------+--------------------+
|libro1|hola mundo estamo...|
|libro2|titulos  vamos ge...|
|libro3|este es el ltimo ...|
+------+--------------------+

In [55]:
from pyspark.ml.feature import RegexTokenizer, StopWordsRemover

In [56]:
tokenizer = RegexTokenizer(
    inputCol="contenido",
    outputCol="contenido",
    pattern="\\W+"
)

In [57]:
df_filtrado = tokenizer.transform(df_filtrado)

IllegalArgumentException: [FIELD_NOT_FOUND] No such struct field `text` in `nombre`, `contenido`. SQLSTATE: 42704

In [58]:
tokenizer = RegexTokenizer(
    inputCol="contenido",
    outputCol="words",
    pattern="\\W+"
)

In [59]:
df_filtrado = tokenizer.transform(df_filtrado)

In [60]:
df_filtrado.show()

+------+--------------------+--------------------+
|nombre|           contenido|               words|
+------+--------------------+--------------------+
|libro1|hola mundo estamo...|[hola, mundo, est...|
|libro2|titulos  vamos ge...|[titulos, vamos, ...|
|libro3|este es el ltimo ...|[este, es, el, lt...|
+------+--------------------+--------------------+

In [61]:
tokenizer = RegexTokenizer(
    inputCol="contenido",
    outputCol="contenido",
    pattern="\\W+"
)
df_filtrado = tokenizer.transform(df_filtrado)
df_filtrado.show()

IllegalArgumentException: Output column contenido already exists.

In [62]:
df_filtrado = df.withColumn('contenido', regexp_replace('contenido', '[^a-zA-Z0-9 ]',''))

In [63]:
df_filtrado = df_filtrado.withColumn('contenido', lower(df_filtrado.contenido))

In [64]:
df_filtrado.show()

+------+--------------------+
|nombre|           contenido|
+------+--------------------+
|libro1|hola mundo estamo...|
|libro2|titulos  vamos ge...|
|libro3|este es el ltimo ...|
+------+--------------------+

In [65]:
tokenizer = RegexTokenizer(
    inputCol="contenido",
    outputCol="contenido",
    pattern="\\W+"
)

In [66]:
df_filtrado = tokenizer.transform(df_filtrado)
df_filtrado.show()

IllegalArgumentException: Output column contenido already exists.

In [67]:
tokenizer = RegexTokenizer(
    inputCol="contenido",
    outputCol="palabras",
    pattern="\\W+"
)
df_filtrado = tokenizer.transform(df_filtrado)
df_filtrado.show()

+------+--------------------+--------------------+
|nombre|           contenido|            palabras|
+------+--------------------+--------------------+
|libro1|hola mundo estamo...|[hola, mundo, est...|
|libro2|titulos  vamos ge...|[titulos, vamos, ...|
|libro3|este es el ltimo ...|[este, es, el, lt...|
+------+--------------------+--------------------+

In [68]:
remover = StopWordsRemover(
    inputCol="palabras",
    outputCol="filtered"
)
df_filtrado = remover.transform(df_filtrado)

In [69]:
df_filtrado.select(df.filtered).show()

PySparkAttributeError: [ATTRIBUTE_NOT_SUPPORTED] Attribute `filtered` is not supported.

In [70]:
df_filtrado.select("nombre", "filtered").show()

+------+--------------------+
|nombre|            filtered|
+------+--------------------+
|libro1|[hola, mundo, est...|
|libro2|[titulos, vamos, ...|
|libro3|[este, es, el, lt...|
+------+--------------------+

In [71]:
df = spark.createDataFrame([
    (1, "i want to start learning to change something in life"),
    (2, "never stop learning")
], ["id", "text"])

# 1. Tokenizar
tokenizer = RegexTokenizer(
    inputCol="text",
    outputCol="words",
    pattern="\\W+"   # divide por cualquier cosa que no sea letra
)

df_tok = tokenizer.transform(df)

# 2. Remover stopwords
remover = StopWordsRemover(
    inputCol="words",
    outputCol="filtered"
)

df_clean = remover.transform(df_tok)

df_clean.select("id", "filtered").show(truncate=False)

+---+------------------------------------------------+
|id |filtered                                        |
+---+------------------------------------------------+
|1  |[want, start, learning, change, something, life]|
|2  |[never, stop, learning]                         |
+---+------------------------------------------------+

In [72]:
df_filtrado.show(truncate=false)

NameError: name 'false' is not defined

In [73]:
df_filtrado.show(truncate=False)

+------+----------------------------------------+---------------------------------------------------+---------------------------------------------------+
|nombre|contenido                               |palabras                                           |filtered                                           |
+------+----------------------------------------+---------------------------------------------------+---------------------------------------------------+
|libro1|hola mundo estamos  listos para el lio  |[hola, mundo, estamos, listos, para, el, lio]      |[hola, mundo, estamos, listos, para, el, lio]      |
|libro2|titulos  vamos gente es hora de  irnos  |[titulos, vamos, gente, es, hora, de, irnos]       |[titulos, vamos, gente, es, hora, de, irnos]       |
|libro3|este es el ltimo libro y es el ms normal|[este, es, el, ltimo, libro, y, es, el, ms, normal]|[este, es, el, ltimo, libro, y, es, el, ms, normal]|
+------+----------------------------------------+---------------------------------------------------+---------------------------------------------------+

In [74]:
spark.stop()